.token{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    &-buy{
        img{
            width:600px;
            height:400px;
            object-fit: cover;
            border-radius:20px;
        }
        h1{
            color: white;
            font-size:35px;
        }
        &-button{
            cursor: pointer;
            width:200px;
            height: 70px;
            border: 2px solid rgba(255, 255, 255);
            border-radius: 10px;
            background-color: transparent;
            color: white;
            font-size: 22px;
            transition:.3s;
        }
        &-button:hover{
            color: rgba(118,62,26,1);
            background-color:white;
            transition: .3s;
        }
    }
}